---
{}

---

In [ ]:
#| default_exp eda.date_range

In [ ]:
#| export
from pathlib import Path
import pandas as pd

In [ ]:
#| export


def min_max_diff(
    data: pd.DataFrame,
    col_name: str,
):
    """ 
    Given a dataframe and the name of a column with datetime information it gives the starting and finishing dates with 
    the total of days in the time ??frame.
    
    :param data: A pandas dataframe with date information
    :param date_column: The name of a column with time information. Expected in format YYYY-mm-dd
    return: Print a summary of starting and finishing date with the days elapsed in the period
    
    """

    df = data[col_name]

    _min = df.min()
    _max = df.max()
    _range = _max - _min
    
    return _min,_max, _range

In [ ]:
#| export


def get_time_frame_info(
    data: pd.DataFrame,
    date_column: str,
):
    """ 
    Given a dataframe and the name of a column with datetime information it gives the starting and finishing dates with 
    the total of days in the time frame.
    
    :param data: A pandas dataframe with date information
    :param date_column: The name of a column with time information. Expected in format YYYY-mm-dd
    return: Print a summary of starting and finishing date with the days elapsed in the period
    
    """

    min_date, max_date, range_date = min_max_diff(data,date_column)
    print(
        f"The time frame starts on {min_date.strftime('%Y-%m-%d')} and conclude on {max_date.strftime('%Y-%m-%d')}. A total of {range_date.days} days"
    )

In [ ]:
from national.data_preprocessing.date_features import Data
from national import tables
historic = Data(data_path=tables.granos_historico.version('04_W-MON'))

current = Data(data_path=tables.granos_actual.version('04_W-MON'))

In [ ]:

get_time_frame_info(
    historic.df,
    'date',
)

The time frame starts on 2010-01-11 and conclude on 2020-12-14. A total of 3990 days

In [ ]:
get_time_frame_info(
    current.df,
    'date',
)

The time frame starts on 2020-02-17 and conclude on 2022-12-05. A total of 1022 days

In [ ]:
min_max_diff(
    historic.df,
    'price',
)

(0.0, 211.125, 211.125)

In [ ]:

min_max_diff(
    current.df,
    'price',
)

(0.0, 350.0, 350.0)