# Date Features

---
description: Create Day Month Year columns
title: Data Preprocessing Date Features
---

In [ ]:
#| default_exp national.data_preprocessing.date_features

In [ ]:
#| export

from niloIQ2.national.data_preprocessing import load
from niloIQ2.national import tables
import pandas as pd

In [ ]:
#| export


class Data(load.Data):

    def __init__(
            self,
            data_path: str = tables.granos_historico.version('04_W-MON'),
     ):
        super().__init__(data_path=data_path)

        self.df.set_index('date', inplace=True)

        self.df.sort_index(inplace=True)

        self.df['Year'] = self.df.index.year
        self.df['Month'] = self.df.index.month
        self.df[
            'WeekOfYear'] = self.df.index.isocalendar().week
        self.df.reset_index(inplace=True)

In [ ]:
from niloIQ2.national.data_preprocessing.date_features import Data

data = Data()

In [ ]:
data.df[['Year','Month','WeekOfYear']]

        Year  Month  WeekOfYear
0       2010      1           2
1       2010      1           2
2       2010      1           2
3       2010      1           2
4       2010      1           2
...      ...    ...         ...
200059  2020     12          51
200060  2020     12          51
200061  2020     12          51
200062  2020     12          51
200063  2020     12          51

[200064 rows x 3 columns]

In [ ]:
data.df['date'].is_monotonic

True

In [ ]:
from national.data_preprocessing.date_features import Data

data = Data(data_path=tables.granos_actual.version('04_W-MON'))

In [ ]:
data.df['date'].is_monotonic

True

In [ ]:
data.df['Year'].value_counts()

2021    11808
2022    11475
2020     3624
Name: Year, dtype: int64